@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

body {
  margin: 0px;
  overflow-x: hidden;

  background-color: transparent;
}

/*---------------------------------------------------- NAV PAGES -------------------------------------------------------------------*/

/*FOR MOBILE */
/*For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: center;
}

@media only screen and (min-width: 2000px) {
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 40% !important;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .col-1 {
    font-size: 1.5em;
  }
  .logoF {
    width: 50px;
    height: 50px;
  }
  .logoI {
    width: 50px;
    height: 50px;
  }
  .logo {
    width: 120px !important;
    height: 120px !important;
  }
}

@media only screen and (max-width: 1770px) {
  div.name {
    font-size: 3em;
  }

  body#Accueil {
    background-color: #020c0e;
  }
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 90% !important;
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media only screen and (max-width: 1110px) {
  div.name {
    font-size: 2.5em !important;
  }
  body#Accueil {
    background-color: #020c0e;
  }
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 128% !important;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
@media only screen and (max-width: 970px) {
  body#Accueil {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .col-1 {
    font-size: 0.8em;
  }
  div.name {
    position: absolute;
    font-size: 2em !important;
  }
  .logoF {
    width: 20px;
    height: 20px;
  }
  .logoI {
    width: 20px;
    height: 20px;
  }
  .logo {
    width: 75px !important;
    height: 75px !important;
  }
  body#Accueil {
    background-color: #020c0e;
  }
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 145% !important;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media only screen and (max-width: 660px) {
  body#Accueil {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 190% !important;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .col-1 {
    font-size: 0.7em;
  }
  .logoF {
    width: 15px;
    height: 15px;
  }
  .logoI {
    width: 15px;
    height: 15px;
  }
  .logo {
    width: 60px !important;
    height: 60px !important;
  }
  div.name {
    font-size: 1.8em !important;
  }
}

@media only screen and (max-width: 460px) {
  body#Accueil {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  section#accueil {
    background-image: url("Images/1_Accueil/FondAccueil.jpg");
    background-size: 200% !important;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .col-1 {
    font-size: 0.58em;
  }
  .logoF {
    width: 10px;
    height: 10px;
  }
  .logoI {
    width: 10px;
    height: 10px;
  }
  .logo {
    width: 40px !important;
    height: 40px !important;
  }
  div.name {
    font-size: 1.1em !important;
  }
}

/*MENU*/
.navBar {
  background-color: #667d8e;
}

#navBar-Accueil {
  background-color: #01090c;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

a {
  color: #4ecdda;
  text-decoration: none;
}

/*LOGO*/
.logo {
  height: 100px;
  width: 100px;
  padding-top: 10px;
}

/*DIV-ICON+TEXTE*/
.IconReseaux {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ContainerIcon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/*HOVER-EFFECT-TEXT-RESEAUX*/
/* 
.Txt-Reseaux:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.Txt-Reseaux::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: black;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
.Txt-Reseaux {
  position: relative;
  font-size: 1em;
  font-family: "Allerta Stencil", sans-serif;
} */

/*HOVER-EFFECT*/

/*ACCUEIL*/
#Nav-accueil:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#Nav-accueil::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4ecdda;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#Nav-accueil {
  position: relative;
  font-size: 1.5em; /* 
  background-color: #4ecdda;*/
  font-family: "Allerta Stencil", sans-serif;
}

/*GALERIE*/
#Nav-galerie:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#Nav-galerie::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4ecdda;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#Nav-galerie {
  position: relative;
  font-size: 1.5em;
  font-family: "Allerta Stencil", sans-serif;
}

/*TARIF*/
#Nav-tarif:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#Nav-tarif::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4ecdda;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#Nav-tarif {
  position: relative;
  font-size: 1.5em;
  font-family: "Allerta Stencil", sans-serif;
}

/*CONTACT*/
#Nav-contact:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#Nav-contact::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: #4ecdda;
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}
#Nav-contact {
  position: relative;
  font-size: 1.5em;
  font-family: "Allerta Stencil", sans-serif;
}

footer {
  background-color: rgb(159, 172, 174);
  bottom: 0;
  width: 100%;
  height: 35px;
  font-size: 55%;
  font-weight: 100;
}
/*---------------------------------------------------- PAGE ACCUEIL -------------------------------------------------------------------*/

body#Accueil {
  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #020c0e;
}
/*SECTION*/

section#accueil {
  background-image: url("Images/1_Accueil/FondAccueil.jpg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top;

  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Allerta Stencil", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 5em;
  font-family: "Allerta Stencil", sans-serif;
  color: white;

  position: absolute;
  top: 280px;

  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear 2000ms;
}
@keyframes reveal {
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
/*FOOTER*/

footer#accueil {
  position: fixed;
  background-color: rgb(159, 172, 174); /* 
  bottom: 0; */
  width: 100%;
  height: 35px;
  font-size: 55%;
  font-weight: 100;
}

.copyright {
  padding-top: 9px;
  font-size: 1.5em;
  font-family: "Allerta Stencil", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

/*---------------------------------------------------- PAGE GALERIE -------------------------------------------------------------------*/
body#All {
  background-color: #667d8e;
  font-family: "Allerta Stencil", sans-serif;
}

@media only screen and (max-width: 1280px) {
  #Categories {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 990px) {
  #Categories {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 775px) {
  #Categories {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: none;
  }

  ul li {
    margin: 10px;
  }
}

@media only screen and (max-width: 670px) {
  #Categories {
    display: flex;
    flex-direction: column; /* 
    text-align: center; */

    font-size: 1em;
  }
  h1.font {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5em;
  }
  ul li {
    /* 
    margin: 10px; */
    width: 90%;
    text-align: center;
  }
}

@media only screen and (max-width: 495px) {
  #Categories {
    display: block;
    text-align: center;
    font-size: 1em;

    padding-left: 0 !important;
  }
  h1.font {
    font-size: 2em;
  }
  ul li {
    margin: 10px;
    width: auto;
    text-align: center;
    border: 1px solid grey;
  }
}

@media only screen and (max-width: 390px) {
  h1.font {
    font-size: 2em !important;
  }
  footer#accueil {
    font-size: 0.4em !important;
  }
}

section#Galerie {
  width: 85%;
  margin: 50px auto;
}
.font {
  text-align: center;
  letter-spacing: 2px;
  color: black;
  font-size: 3em;
  font-family: "Allerta Stencil", sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-bottom: 10px;
  margin-bottom: 25px;
}

ul li {
  list-style: none;
  background-color: rgb(204, 204, 204);
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.2em;

  border: 1px solid black;
  border-radius: 20px;
}

ul li:hover {
  background-color: rgb(78 205 218);
}

ul li.active {
  background-color: rgb(78, 205, 218);
}

.product {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* 
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center; */
}

.img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product img {
  margin-bottom: 50px;
  height: 25%;
  width: 25%;
}

/*---------------------------------------------------- PAGE TARIF -------------------------------------------------------------------*/

body#Tarif {
  overflow-x: hidden;
  overflow-y: visible;
}

.lign {
  margin: 0px 150px;
  border-bottom: 2px solid rgb(204, 204, 204);
}
@media only screen and (min-width: 640px) {
  body#Tarif {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #containerCards {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: repeat(2, 24.2em) !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;

    position: relative;
    bottom: 50px;
  }

  #card1 {
    grid-area: 1/1/2/2 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  #card2 {
    grid-area: 1/2/2/3 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  #card3 {
    grid-area: 1/3/2/4 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  #card4 {
    grid-area: 2/1/3/2 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  #card5 {
    grid-area: 2/2/3/3 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  #card6 {
    grid-area: 2/3/3/4 !important;
    position: relative;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .Description {
    font-size: 0.8em !important;
  }
  #supplement {
    font-size: 0.5em !important;
    top: 45px;
  }
}
@media only screen and (max-width: 430px) {
  h1.font {
    font-size: 1.3em !important;
  }
}

#containerCards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 150px;

  padding-top: 50px;
  padding-bottom: 200px;

  align-items: center;
  justify-items: center;
}

/*CardFront*/
.title {
  position: relative;
  bottom: -2em;

  font-size: 1.1em;
}

.ImgSvg {
  position: relative;
  bottom: -3.5em;
}

/*CardBack*/

.Description {
  position: relative;
  bottom: -2em;

  font-size: 0.8em;
}

#supplement {
  position: relative;
  bottom: -6em;
  font-size: 0.5em !important;
}

.Price {
  position: relative;
  bottom: -50px;

  font-weight: 900;
}

/*ANIMATION CARDS*/

.card {
  background-color: transparent;

  width: 200px;
  height: 100px;
  border: 1px solid rgb(150, 150, 150);
  perspective: 1000px;
  border-radius: 25px;
}

.card:hover,
#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover,
#card5:hover,
#card6:hover {
  transform: rotateY(180deg);
}

.CardFront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}
.CardBack {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  background-color: rgb(78, 205, 218);
  color: black;
  height: 250px;
  margin-bottom: 50px !important;

  transform: rotateY(180deg);
}

.CardFront {
  background-color: rgb(200, 200, 200);
  color: #111111;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
/* 
.CardBack {
}
 */
#card1 {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
#card2 {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
#card3 {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
#card4 {
  grid-area: 4 / 1 / 5 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
#card5 {
  grid-area: 5 / 1 / 6 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
#card6 {
  grid-area: 6 / 1 / 7 / 2;
  position: relative;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/*---------------------------------------------------- PAGE CONTACT -------------------------------------------------------------------*/

@media only screen and (max-width: 1040px) {
  #Section-contact {
    display: flex;
    flex-direction: column;

    position: relative !important;
    top: 10px !important;
  }
  #form {
    display: flex;
    flex-direction: column;

    width: 49% !important;
  }
  #formInput {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  footer#contact {
    position: relative !important;
  }
}

@media only screen and (max-width: 840px) {
  #form {
    width: 40%;
  }
}
@media only screen and (max-width: 610px) {
  #Fond {
    padding: 2em !important;
    margin: 2em !important;
  }

  #charlesName {
    font-size: 1.2em !important;
  }
  #charlesTel {
    font-size: 1em !important;
  }
  #charlesCity {
    font-size: 1em !important;
  }
  #charlesMail {
    font-size: 1em !important;
  }
}
@media only screen and (max-width: 510px) {
  #charlesName {
    font-size: 0.9em !important;
  }
  #charlesTel {
    font-size: 0.7em !important;
  }
  #charlesCity {
    font-size: 0.7em !important;
  }
  #charlesMail {
    font-size: 0.7em !important;
  }
}
@media only screen and (max-width: 495px) {
  footer#contact {
    position: fixed !important;
  }
}
@media only screen and (max-width: 410px) {
  #charlesName {
    font-size: 0.7em !important;
  }
  #charlesTel {
    font-size: 0.5em !important;
  }
  #charlesCity {
    font-size: 0.5em !important;
  }
  #charlesMail {
    font-size: 0.5em !important;
  }
}

#Section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;

  position: relative;
  top: 80px;
}

/*COORDONNÉE CHARLES*/

#Fond {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 20px;

  padding: 50px;

  height: 45%;
  width: 45%;
}

#Fond2 {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: #bcc2c6;
  border: 1px solid black;
  border-radius: 20px;

  padding: 25px;
}

#charlesName {
  font-size: 1.5em;
}
#charlesTel {
  font-size: 1.2em;
}
#charlesCity {
  font-size: 1.2em;
}
#charlesMail {
  font-size: 1.2em;
  text-align: center;
}

/*FORMULAIRE*/

#form {
  height: 45%;
  width: 45%;

  background-color: whitesmoke;
  padding: 30px;

  border: 1px solid black;
  border-radius: 20px;
}

.Input {
  display: block;
  height: 25px;
  margin: 8px;

  border: 1px solid black;
  border-radius: 8px;

  background-color: #bcc2c6;
  font-family: "Allerta Stencil", sans-serif;
}

.Input::placeholder {
  color: black;
}

.Input:focus {
  background-color: rgb(78, 205, 218);
}

#name {
  width: 100%;
}
#firstname {
  width: 100%;
}

#mail {
  width: 100%;
}

#Inputmessage {
  width: 100%;
  height: 200px;
}

p#submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
button#submit {
  font-family: "Allerta Stencil", sans-serif;
  padding: 10px 35px;

  border-radius: 20px;
  border: none;
  background-color: #9fabb3;
}

button#submit:hover {
  font-weight: 900;
  font-family: "Allerta Stencil", sans-serif;

  background-color: #4ecdda;
}

footer#contact {
  position: fixed;
  background-color: rgb(159, 172, 174);
  bottom: 0;
  width: 100%;
  height: 35px;
  font-size: 55%;
  font-weight: 100;
}
